body{
    background-color: black;
}

img{
    height:100vh;
    display: block;
    margin: auto;
}

a{
    list-style-type: none;
    text-decoration: none;
    color:white;
    font-family: 'Yanone Kaffeesatz', sans-serif;


}